html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #0f123f;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: $grey;
}

p {
  line-height: 1.5;
}

.btn {
  box-shadow: none !important;
}

.title {
  color: $black;
  font-size: 2.25rem;
  font-weight: 700;
  max-width: 800px;
  margin: 0 auto;
}

.nav-toogle {
  font-size: 25px;
}